<form action="/bookmarks" method="post">
  <input type="text" name="title" placeholder="Bookmark title" />
  <input type="text" name="url" placeholder="Bookmark URL" />
  <input type="submit" value="Save" />
</form>
